footer {
    padding-top: 24px;
    padding-bottom: 12px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__logo {
  max-width: 60px;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__nav-list-item {
  & a {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
  }
}
.footer__nav-reels-img {
  max-width: 12px;
  & img {
    width: 100%;
    height: 100%;
  }
}

.footer__policy-wrap {
    display: flex;
    justify-content: flex-end;
}

.footer__policy {
  color: rgba(255, 255, 255, 0.5);
  font-family: Nunito;
  font-size: 6px;
  font-weight: 300;
  line-height: 8px;
}

@media(min-width: 992px) {

    .footer__wrapper {
        justify-content: initial;
        gap: 220px;
    }
    .footer__logo {
        max-width: 209px
    }

    .footer__nav {
        flex: 0 1 500px;
    }

    .footer__nav-list-item  {
        & a {
            font-size: 20px;
            line-height: 27px;
        }
    }

    .footer__nav-reels-img {
        max-width: 25px;
    }
    .footer__policy {
        font-size: 14px;
        line-height: 19px;
    }

    footer {
        padding-bottom: 20px;
        padding-top: 95px;
    }
}
