<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Definit</title>
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p>пизда</p>
        </header>
            {% block content %}
            {% endblock content %}
        <footer>
            <p>жопа</p>
        </footer>
    </div>

    {% block js %}
    {% endblock js %}
</body>
</html>