.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  margin: 0 10px;
}

.slick-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: rgba(154, 162, 195, 0.3);
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background: #fff;
}

.blog__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog__list-item {
  display: flex;
  flex-direction: column;
}

.blog__list-item-title {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 30px;
}

.blog__list-item-slider-item {
  width: 307px;
}
.blog__list-item-slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.blog__list-item-text {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 30px;
}

.blog__list-item-text-full {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 25px;
  align-self: flex-end;
}

.slick-slide img {
  transition: 0.3s ease;
  transform: scale(0.5);
}

.slick-center img {
  transform: scale(1);
}

.work__create-date {
  display: none;
}

@media (min-width: 992px) {
  .blog__list-item-title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
  }
  .slick-slide {
    width: 704px;
  }
  .slick-slide img {
    transform: scale(0.75);
  }
  .work__create-date {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    align-self: flex-end;
  }
  .slick-center img {
    transform: scale(1);
  }
  .slick-dots {
    margin-top: 50px;
  }
  .blog__list-item-text {
    margin-top: 50px;
    font-size: 20px;
    line-height: 27px;
    -webkit-line-clamp: initial;
  }
  .blog__list-item-text-full {
    display: none;
  }
}
.blog__title {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.bg__lines {
  margin: 40px 0;
  max-width: 121px;
}
.bg__lines img {
  width: 100%;
  height: 100%;
  transform: rotate3d(0, 15, 1, 180deg);
}

.work {
  padding-bottom: 34px;
}

.work__title {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 30px;
}

.work__video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.work__description {
  color: rgb(245, 245, 245);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: justify;
}

@media (min-width: 992px) {
  .work {
    padding-bottom: 60px;
  }
  .blog__title {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 60px;
  }
  .bg__lines {
    margin: 50px 0;
    max-width: 420px;
  }
  .work__title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
  }
  .work__video {
    border-radius: 5px;
    max-width: 1124px;
    display: block;
    margin: 0 auto 50px auto;
  }
  .work__description {
    font-size: 20px;
    line-height: 27px;
  }
}/*# sourceMappingURL=style.css.map */